@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
   
    box-sizing: border-box;
}

.main{
    background-image: linear-gradient(to top, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../assets/img/social.jpg);
    position: relative;
    height: 100vh;
}
.navigation{
    height: 70px;
    padding: 20px 10px 10px 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 99;
    background-color: rgb(2, 2, 2);
}
.brand{
    padding: 0% 10%
}

.brand h1{
    color: #ffffff;
    font-weight: 700;
}

.toggle, .close{
    display: none;
}

.nav-menu{
    padding: 0% 10% 0% 0%;
}

.nav-menu :hover{
    font: 1em sans-serif;
    color: red;
    font-family: cursive;
} 
.nav-menu li{
    display: inline-block;
    margin: 0 30px;
    font-size: 20px;
    color: #ffffff;
}

.nav-menu li a{
    text-decoration: none;
    color: #fffdfd;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 255, 255);
}

.wrapper{
    padding: 30px 50px;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin: 30px 10px 10px 10px;
    max-width: 600px;
}
h4{
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 200%;
}
.img{
    width: 50%;
    height: 50%;
    border-radius: 10px;
    object-fit: cover;
}
#img-section p,#deactivate p{
    font-size: 12px;
    color: #777;
    margin-bottom: 10px;
    text-align: justify;
}
#img-section b,#img-section button,#deactivate b{
    font-size: 14px; 
}

label{
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    color: #777;
    padding-left: 3px;
}


select{
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    height: 40px;
    padding: 5px 10px;
    /* -webkit-appearance: none; */
}

.button{
    height: 20px;
    width: 50%;
    border: white;
    background-color: #2e8dd5;
    color: #fdfeff;
}
.button:hover{
    background-color: #0779e4;
    color: #fff;
}
.btn-primary{
    background-color: #0779e4;
}
.danger{
    background-color: #fff;
    color: #e20404;
    border: 1px solid #ddd;
}
.danger:hover{
    background-color: #e20404;
    color: #fff;
}
@media(max-width:576px){
    .wrapper{
        padding: 25px 20px;
    }
    #deactivate{
        line-height: 18px;
    }
}


/* * {
  box-sizing: border-box;
} */

.col-75 input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.row input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.row input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}